<% include('../layouts/header.ejs') %>

<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

<h1>Dashboard</h1>

<br>

<table width="70%" >
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Image</th>
    </tr>

    <% 
        if(users.length > 0 )
        {
            for(i=0; i<users.length; i++){
                %>

                <tr>
                    <td>
                    <%= users[i].name %>
                    </td>   
                    
                    <td>                   
                    <%= users[i].email %>          
                    </td>  

                    <td>            
                    <%= users[i].phone %>
                    </td>  

                    <td>
                     <img src="/userImages/<%= users[i].image %>" width="30px" height="30px" alt="<%= users[i].image %>"> 
                    </td>  
                </tr>

                <%
            }
        }
        else{
            %>

            <tr>
                <td colspan="5">Users not found.</td>
            </tr>

            <%
        }
     %>
</table>


<br><br>

<h3>Hostels data:</h3>


<table width="70%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Rooms</th>
    </tr>
  </thead>
  <tbody>
    <% hostels.forEach(function(hostel) { %>
      <tr>
        <td><%= hostel.name %></td>
        <td><%= hostel.address %></td>
        <td><%= hostel.contact %></td>
        <td>
          <table>
            <thead>
              <tr>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Price per Night</th>
              </tr>
            </thead>
            <tbody>
              <% hostel.rooms.forEach(function(room) { %>
                <tr>
                  <td><%= room.room_number %></td>
                  <td><%= room.capacity %></td>
                  <td><%= room.price_per_night %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>


<a href="/admin/home">Go to Home</a>

<% include('../layouts/header.ejs') %>
